<div [ngClass]="{'dark': true}">
    <app-theme-boton></app-theme-boton>
<section class="dark:bg-gray-800">
        <div class=" mx-auto max-w-screen-2xl text-center mb-8 lg:mb-16 dark:bg-gray-900">
            <h1 class="mb-4 text-6xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                WELCOME TO WIKI RICKY
            </h1>
            <div class="flex items-center justify-center">
                <img src="rick.png" alt="Masculino" class="w-20 h-20" />
                <h2 class="font-light text-gray-500 lg:mb-16 text-3xl sm:text-3xl dark:text-gray-400 mr-4">
                    lubba dub dub!!
                </h2>
                <img src="rick.png" alt="Masculino" class="w-20 h-20" />
            </div>
        </div>
    <router-outlet></router-outlet>

    <footer class="bg-white dark:bg-gray-900 rounded-lg shadow m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="rickFooter.png" class="h-44 md:h-32" alt="Flowbite Logo" />
                    <span class="self-center text-3xl md:text-4xl font-semibold whitespace-nowrap dark:text-white">
                        Wiki
                    </span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-base md:text-lg font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="#" class="hover:underline me-6 md:me-8">About</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-6 md:me-8">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline me-6 md:me-8">Licensing</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />
            <span class="block text-base md:text-lg text-gray-500 sm:text-center dark:text-gray-400">
                © 2024 <a href="https://flowbite.com/" class="hover:underline">WikiRicky™</a>. All Rights Reserved by Hector Frausto Romo.
            </span>
        </div>
    </footer>
</section>
</div>