<div class="min-h-screen bg-white text-black dark:bg-gray-900 dark:text-white p-6 transition-colors duration-300">
    <!-- Contenedor Principal -->
    <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Columna Izquierda - Detalles del Personaje -->
        <div class="lg:col-span-1 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg p-8 transition-colors duration-300">
            <a href="#" class="text-blue-500 mb-6 inline-flex items-center text-lg font-semibold">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                </svg>
                Go back
            </a>
            <div class="text-center mb-8">
                <img class="w-48 h-48 mx-auto rounded-full" [src]="personaje?.image" [alt]="personaje?.name">
                <h2 class="text-4xl font-bold mt-6">{{ personaje?.name }}</h2>
            </div>
            <div class="border-t border-gray-200 dark:border-gray-700 pt-6 transition-colors duration-300">
                <h3 class="text-2xl font-bold mb-6">INFO</h3>
                <ul class="space-y-4">
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Status:</span>
                        <span [ngClass]="{'text-green-500 dark:text-green-400': personaje?.status === 'Alive', 'text-red-500 dark:text-red-400': personaje?.status === 'Dead'}" class="flex items-center">
                            <svg *ngIf="personaje?.status === 'Alive'" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.707a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            Alive
                        </span>
                        <span *ngIf="personaje?.status === 'Dead'" class="flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.707a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                            </svg>
                            Dead
                        </span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Gender:</span>
                        <span class="flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 3a3 3 0 00-3 3 3 3 0 003 3 3 3 0 003-3 3 3 0 00-3-3zM4 8a6 6 0 0112 0v1a6 6 0 01-12 0V8zm6 9a4 4 0 01-4-4H4a6 6 0 0012 0h-2a4 4 0 01-4 4z" clip-rule="evenodd"></path>
                            </svg>
                            {{ personaje?.gender }}
                        </span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Species:</span>
                        <span class="flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.707a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"></path>
                            </svg>
                            {{ personaje?.species }}
                        </span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Type:</span>
                        <span>{{ personaje?.type || 'No type' }}</span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Origin:</span>
                        <span class="flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.05 8.768a7.007 7.007 0 011.622-1.906L9 10l-2.328 2.138a7.007 7.007 0 01-1.622-1.906l.635-.634a6 6 0 00-1.272-1.268L5.05 8.768zM11 10l2.328 2.138a7.007 7.007 0 011.622-1.906l-.635-.634a6 6 0 001.272-1.268L14.95 8.768A7.007 7.007 0 0113.328 10L11 10zm-1-4a7 7 0 00-7 7 7 7 0 1014 0 7 7 0 00-7-7z" clip-rule="evenodd"></path>
                            </svg>
                            {{ personaje?.origin?.name }}
                        </span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Location:</span>
                        <span class="flex items-center">
                            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 2a6 6 0 016 6c0 1.44-.75 3.215-1.969 4.964C12.688 15.723 11.375 17.5 10 17.5c-1.375 0-2.688-1.777-4.031-4.536C4.75 11.215 4 9.44 4 8a6 6 0 016-6zm0 2a4 4 0 00-4 4c0 .886.602 2.441 1.672 3.969 1.106 1.575 2.328 3.031 2.328 3.031s1.222-1.456 2.328-3.031C13.398 10.441 14 8.886 14 8a4 4 0 00-4-4z" clip-rule="evenodd"></path>
                            </svg>
                            {{ personaje?.location?.name }}
                        </span>
                    </li>
                    <li class="flex items-center justify-between text-lg font-semibold">
                        <span>Created:</span>
                        <span>{{ formatDate(personaje?.created) }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Columna Derecha - Lista de Episodios -->
        <div class="lg:col-span-2 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg p-8 transition-colors duration-300">
            <h3 class="text-2xl font-bold mb-6">FEATURED IN</h3>
            <ul class="divide-y divide-gray-300 dark:divide-gray-700">
                <li *ngFor="let episodio of episodios" class="py-4 text-lg">
                    <a [href]="episodio.url" class="flex justify-between items-center hover:text-blue-500 dark:hover:text-blue-400">
                        <span>{{ episodio.episode }} - "<span class="font-bold">{{ episodio.name }}"</span></span>
                        <span class="text-gray-500 dark:text-gray-400">{{ formatDate(episodio.air_date) }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
